html{
    background:#ECDFCC;
}

*{
    text-align: center;
    color: #181C14;
}
h2{
    font-weight: normal;
    background-color: #697565 ;

}
h1{
    background-color: #697565;
}
h3{
    text-shadow: black;

}
